# APP
NODE_ENV=development
APP_URL=http://localhost:3000

# DATABASE (TiDB / MySQL)
# Format: mysql://USER:PASSWORD@HOST:PORT/DB_NAME?ssl={"rejectUnauthorized":true}
DATABASE_URL=mysql://*:*@*:*/*?ssl={"rejectUnauthorized":true}

# TWILIO
TWILIO_ACCOUNT_SID=AC*
TWILIO_AUTH_TOKEN=*
TWILIO_WHATSAPP_NUMBER=whatsapp:+*

# NGROK (for local webhook testing)
NGROK_URL=https://*.ngrok-free.dev

# CACHE (Optional)
# UPSTASH_REDIS_REST_URL=*
# UPSTASH_REDIS_REST_TOKEN=*
